html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #5f376c;
}
section {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
}
section > * {
  grid-column: 2;
}
.butt {
  color: steelblue;
  padding: 0.5em 1em;
  min-width: 12ch;
  font-size: larger;
  mix-blend-mode: overlay;
}
