* { box-sizing: border-box; }
html, body { padding: 0; margin: 0; }

body { 
    height: 100vh; 
    width: 100vw; 
    max-width: 100%;
    border: 100px solid red; 
}

.container {
	height: 300px;
	width: 	200px;
	border: 2px solid black;
	background: url("../assets/icon-play-button.svg") no-repeat;
}

.container:hover {
	background: url("../assets/icon-play-button-fill.svg") no-repeat;
}

