* { box-sizing: border-box; }
html, body { padding: 0; margin: 0; }

.container { 
	display: flex;


    height: 100vh; 
    width: 100vw; 
    max-width: 100%;
    border: 100px solid red; 
}

.green {
	flex: 1 1 10%;
	height: auto;
	background-color: cyan;
}

.blue {
	flex: 1 1 60%;
	height: auto;
	background-color: paleturquoise;
}